* {
    padding: 0px;
    margin: 0px;
  }

  .image {
      top: 20px;
      left: 30px;
      position: absolute;
  }

  .text {
      color: white;
      top: 125px;
      left: 48px;
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 20px;
      font-weight: bold;
  }

  .intro {
    color: white;
    font-size: 50px;
    padding: 12px 16px;
    position: absolute;
    top: 50px;
    left: 18%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .intro1 {
    color: white;
    font-size: 27px;
    padding: 12px 16px;
    position: absolute;
    top: 110px;
    left: 18%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }

  .top {
      position: absolute;
      margin-top: 103px;
      margin-left: 62%;
  }

  .top a {
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
      color: white;
      padding: 8px;
      font-size: 27px;
  }

  .thrissur h1 {
      position: absolute;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 270px;
      margin-left: 170px;
      font-size: 60px;
      border: 4px outset white;
      padding: 8px;
  }

  .thrissur p {
      position: absolute;
      color: white;
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: 400px;
      width: 25%;
      margin-left: 260px;
      border-top: 4px white;
      border-bottom: 4px white;
      border-right: 4px white;
      padding: 8px;
  }

  .thrissur img {
    position: absolute;
    margin-top: 420px;
    margin-left: 10px;
    border-radius: 50%;
}

  .attract h1 {
      position: absolute;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 175px;
      margin-left: 750px;
      font-size: 50px;
      border-top: 2px inset white;
      border-bottom: 2px inset white;
      padding: 20px;
      text-align: center;
  }

  .attract h3 {
      position: absolute;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 320px;
      margin-left: 825px;
      font-size: 25px;
      border: 2px solid white;
      padding: 8px;
      text-align: center;
  }

  .attract p {
      position: absolute;
      color: white;
      text-align: justify;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: 420px;
      width: 26%;
      margin-left: 670px;
      padding: 8px;
      border-top: 6px double white;
      border-bottom: 6px double white;
  }

  .attract img {
      position: absolute;
      margin-top: 460px;
      margin-left: 1010px;
      border-radius: 80%;
  }

  .attract1 h3 {
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 870px;
    margin-left: 150px;
    font-size: 25px;
    border: 2px solid white;
    padding: 8px;
    text-align: center;
}

.attract1 p {
    position: absolute;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 950px;
    width: 26%;
    margin-left: 260px;
    padding: 8px;
    border-top: 6px double white;
    border-bottom: 6px double white;
    line-height: 1.65em;
}

.attract1 img {
    position: absolute;
    margin-top: 963px;
    margin-left: 10px;
    border-radius: 50%;
}

.attract2 h3 {
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 870px;
    margin-left: 850px;
    font-size: 25px;
    border: 2px solid white;
    padding: 8px;
    text-align: center;
}

.attract2 p {
    position: absolute;
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 950px;
    width: 26%;
    margin-left: 670px;
    padding: 8px;
    border-top: 6px double white;
    border-bottom: 6px double white;
    line-height: 1.65em;
}

.attract2 img {
    position: absolute;
    margin-top: 957px;
    margin-left: 1010px;
    border-radius: 50%;
}

footer h3 {
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
